.container{
    width: 20rem;
    height: 20rem;
    background-color: cornflowerblue;
    margin: auto;
    /* background-image: linear-gradient(45deg, orange, rgb(137, 137, 203), rgb(191, 97, 97));
    background-image: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left top; */

    /* yukarıdakilerin toplu kullanımı */
    background: linear-gradient(60deg, rgba(137, 137, 203, 0.3), rgba(191, 97, 97, 0.7)), url(./background.jpg), no-repeat, left top;
    background-size: cover;
    text-align: center;
    position:relative;
    overflow: auto;
}
p{
    color: white;
    position: absolute;
    top: 80px;
    left: 50px;
}